<!DOCTYPE html>  
<html>  
<head>  
    <title>Register Page</title>
    <style>
        #register{
            background-color: aquamarine;
        }
        #rimage{
            width: 100%;
            position:absolute;
            margin-left: 0%;
            height:435px;
        }
    </style>  
</head>  
<body> 
    <center id="register"> 
    <h2>YOU ARE HERE MEANS YOU ARE NEW</h2>
    <h3>REGISTRATION FORM:</h3>
    <h4>Enter Email and Password to register</h4>   
    <form action = "/login" method="post">  
    <table>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
        <tr><td>Password</td><td><input type="password" name="password"></td></tr>  
        <tr><td><input type="submit" value="Register"></td></tr> 
        <tr><td><input type="submit" value="Already Registered :)"></td></tr> 
    </table> 
    <br> 
    </form> 
    </center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi70dyCgjQDcA8fNkKzD_zWBa_P10DFGRjcA&usqp=CAU" alt="here is register image." id="rimage">
</body>  
</html>