<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        #header{
            background-color: bisque;
            /* text-shadow:0ch */
            text-transform: inherit;
            color:rgb(12, 78, 135) ;
        }
        #regbtn{
            color:red
        }
    </style>
</head>
<body>
    <center>
    <h1 id="header"><marquee> YOU ARE WELCOME HERE</marquee></h1>
    <p>Stock Market is the place where you can invest a small and get its notable return.
        There are millions of people around the world who invest in stock.
    </p>
    <br>
    <p>
        Saying that jumping directly without any knowledge about it can hamper your wealth sometimes.
        So better be careful and firstly learn how to trade.
        <br>
        Learn about the companies,
        <br>
        Learn about timing to buy and sell,
        <br>
        Learn to study charts cause graphical view can easily give you the information about what is happening,
        <br>
        Learn about the bonuses and dividend provided by the company. 
    </p>
    <p>Lets learn and invest</p>
    <p>HAPPY TRADING #:)</p>
    <br>
    <a href="/register" id="regbtn">Register here</a>
</center>
</body>
</html>